<%- include('includes/head') %>
</head>
<body>
    <%- include('includes/nav')%>
    <main>
        <% if(prods.length > 0) { %>
            <h1><% for(let item of prods){ %></h1>

                <p><%= item.title %></p>

            <% } %>
        <% } else { %>
            <h1>No products</h1>
        <% } %>
        
    </main>
</body>
</html>