<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">SHOP</a></li>
                <li><a href="/admin/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{#if hasProducts }}
        <div class="gird">
            {{#each prods}}
                <h1>{{this.title}}</h1>
            {{/each}}
        </div>
        {{ else}} 
        <h1>No Products Found!!!!</h1>
        {{/if}}
    </main>
</body>
</html>