@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}


body{
  // font-family: 'IBMPlexSansKR-Regular';
   font-family: "Poppins" , 'SUIT-Regular', sans-serif;
  //  font-family: 'Pretendard-Regular';
  //  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  // input{
  //   background: transparent;
  // }
}

.wrap{
  width: 1200px;
  margin: 0 auto;
}


/* DarkMode */
$dark-bgcolor : #000;
$dark-textColor : #fff;
$error-Message-color : rgb(233, 97, 97);


// 다크모드
.darkMode{
    background-color: $dark-bgcolor;
    color: $dark-textColor;

    li{
        color: $dark-textColor;
        a{
            color: $dark-textColor;
        }
    }
}

.errorMessage{
    color: $error-Message-color;
}
.loaded{
    animation: 0.4s ease load forwards;
    opacity: 0;
  }
  .unloaded{
    animation: 0.4s ease unload forwards;
  }
  @keyframes load{
    0%{
      opacity: 0;
      transform: translateY(-20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes unload{
    0%{
      opacity: 1;
      transform: translateY(0px);
    }
    100%{
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  

  label{
    display: block;
  }
  input:focus{
    outline: none;
  }
  button{
    cursor: pointer;
  }

  input:disabled{
    background: #F0F0F0;
    opacity: .5;
  }



  nav{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    ul{
      display: flex;
      li{
        margin-left: 30px;
        padding: 25px 0px;
        font-size: 14px;
      }
    }
  }


  // Board
  .BoardReplyForm{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2em;
    
    .formInputDiv{
      width: 100%;
      border: 1px solid #c6c6c6;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 14px;
      margin-bottom: 15px;
      position: relative;
      span{
        position: absolute;
        left: 10px;
        top:-10px;
        padding:0px 10px;
        display: block;
      }
    }
  }

  .BoardComment{
    margin-bottom: 3px;
    /* border-radius: 1em; */
    padding: 10px 20px;
    display: flex;
    position: relative;
    /* box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.7), 4px 4px 15px rgba(36, 36, 36, 0.15);
    /* box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.7), 4px 4px 15px rgba(36, 36, 36, 0.15);*/
    .replyPicture{
      width: 50px;
      height: 50px;
      margin-right: 20px;
      border-radius: 5em;
      box-shadow: -4px -4px 10px rgb(255, 255, 255), 4px 4px 10px rgba(36, 36, 36, 0.15);
      border: 2px solid rgb(255 255 255);
      box-sizing: border-box;
    }
    .replyHeader{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .reply_UserName{
        font-weight: bold;
        font-size: 14px;
      }
    }
    .replyDate{
      font-size: 12px;
      opacity: .5;
    }
    .replyDescription{
      margin-bottom: 10px;
      font-size: 14px;
      word-break: break-all;
    }
    .replyContents{
      background-color: #fff;
      padding: 10px 15px;
      border-radius: 0.5em;
      position: relative;
      width: calc(100% - 70px);
      box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.7), 4px 4px 15px rgba(36, 36, 36, 0.15);
      &::before{
        content: "";
        display: block;
        position: absolute;
        left: -20px;
        top: 15px;
        width: 0;
        height: 0;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-left: 10px solid rgb(255, 255, 255);
        border-right: 10px solid transparent;
        transform: rotate(180deg);
      }
    }

  }

  .btnStyle_Type_1{
    display: inline-block;
    background: linear-gradient(to right, #e2e6ef, #c5cde0);
    background: #e5e9f2;
    /* font-weight: bold; */
    /* padding: 8px 19px 8px 25px; */
    width: 150px;
    height: 50px;
    display: flex;
    color: #fff;
    border-radius: 5em;
    /* color: rgba(38, 65, 125, 0.6); */
    font-size: 14px;
    cursor: pointer;
    box-shadow: -3px -1px 13px rgb(255, 255, 255), 9px 4px 18px rgba(36, 36, 36, 0.95);
    position: relative;
    box-shadow: -4px -4px 20px rgb(255, 255, 255), 4px 4px 17px rgba(36, 36, 36, 0.26);
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5e6c89, #35373b);
    border: 5px solid rgb(255 255 255 / 77%);
      &:active{
          box-shadow: 3px 1px 17px rgba(255, 255, 255, 0.8), 1px -1px 4px rgba(48, 59, 73, 0.24);
      
      }
  }
  



  textarea{
    resize: none;
    white-space: pre-line;
  }
  textarea:focus{
    outline: none;
    // border: 1px solid red;
  }

  textarea::placeholder ,input::placeholder{
    font-size:12px;
  }