@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "SUIT-Regular";
}
body input {
  background: transparent;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

/* DarkMode */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.darkMode {
  background-color: #000;
  color: #fff;
}
.darkMode li {
  color: #fff;
}
.darkMode li a {
  color: #fff;
}

.errorMessage {
  color: rgb(233, 97, 97);
}

.loaded {
  animation: 0.4s ease load forwards;
  opacity: 0;
}

.unloaded {
  animation: 0.4s ease unload forwards;
}

@keyframes load {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes unload {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
label {
  display: block;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

input:disabled {
  background: #F0F0F0;
  opacity: 0.5;
}

nav {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-left: 30px;
  padding: 25px 0px;
}

.BoardReplyForm {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 2em;
}
.BoardReplyForm .formInputDiv {
  width: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
}
.BoardReplyForm .formInputDiv span {
  position: absolute;
  left: 10px;
  top: -10px;
  padding: 0px 10px;
  display: block;
}

.borderReply {
  width: 50%;
}

.BoardComment {
  margin-bottom: 3px;
  /* border-radius: 1em; */
  padding: 15px 20px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  /* box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.7), 4px 4px 15px rgba(36, 36, 36, 0.15);*/
}
.BoardComment .replyPicture {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5em;
  box-shadow: -4px -4px 10px rgb(255, 255, 255), 4px 4px 10px rgba(36, 36, 36, 0.15);
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
}
.BoardComment .replyHeader {
  display: flex;
  align-items: center;
}
.BoardComment .replyHeader .reply_UserName {
  font-weight: bold;
  font-size: 14px;
}
.BoardComment .replyDate {
  font-size: 12px;
  opacity: 0.5;
}
.BoardComment .replyDescription {
  margin-bottom: 10px;
  font-size: 14px;
}
.BoardComment .replyDelete {
  position: absolute;
  right: 20px;
}
.BoardComment .replyContents {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 0.5em;
  position: relative;
  width: calc(100% - 70px);
}
.BoardComment .replyContents::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 15px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 10px solid rgb(255, 255, 255);
  border-right: 10px solid transparent;
  transform: rotate(180deg);
}

.btnStyle_Type_1 {
  display: inline-block;
  background: linear-gradient(to right, #e2e6ef, #c5cde0);
  background: #e5e9f2;
  font-weight: bold;
  /* padding: 8px 19px 8px 25px; */
  width: 100px;
  height: 40px;
  display: flex;
  border-radius: 5em;
  color: rgba(38, 65, 125, 0.6);
  font-size: 14px;
  cursor: pointer;
  box-shadow: -3px -1px 13px rgb(255, 255, 255), 9px 4px 18px rgba(36, 36, 36, 0.15);
  position: relative;
  box-shadow: -4px -4px 10px rgb(255, 255, 255), 4px 4px 10px rgba(36, 36, 36, 0.15);
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #d7dff0, #c5cde0);
  border: 2px solid #fff;
}
.btnStyle_Type_1:active {
  box-shadow: 3px 1px 17px rgba(255, 255, 255, 0.8), 1px -1px 4px rgba(48, 59, 73, 0.24);
}

.pageTitle {
  font-size: 100px;
  font-weight: bold;
}

.pageDashBoard {
  background: #212123;
  width: 100%;
  height: 350px;
  background-size: cover;
}/*# sourceMappingURL=app.css.map */