<header>
    <nav>
        <ul>
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/" >SHOP</a></li>
            <li><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product" >ADD PRODUCT</a></li>
        </ul>
    </nav>
</header>